src/wsdl/localhost_7001/egar-time-ws/WS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><xsd:schema xmlns:ns0="http://ws.test.egar.anatol.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.test.egar.anatol.ru/"><xsd:complexType name="date"><xsd:sequence><xsd:element name="format" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="dateResponse"><xsd:sequence><xsd:element name="return" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:element name="date" type="ns0:date"/><xsd:element name="dateResponse" type="ns0:dateResponse"/></xsd:schema>